streamlit
pandas
praw
transformers==4.38.2
tokenizers==0.15.2
sentencepiece==0.1.99
python-dotenv
# A linha abaixo especifica a versão 2.1.0 do PyTorch e explicitamente
# pede a compilação para CPU, o que resulta em um pacote muito menor.
torch==2.1.0 --index-url https://download.pytorch.org/whl/cpu